/*Colors:
#d6c9a9 - beige
#96b6b6 - bluegray lighter
#568787 - bluegray darker
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  /*font-weight: 300;*/
  font-size: 1.6rem;
  line-height: 1.6;
  box-sizing: border-box;
}

.header {
  height: 85vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(150, 182, 182, 0.76),
      rgba(42, 66, 66, 0.196)
    ),
    url("../img/baking-header.png");
  background-size: cover;
  background-position: bottom right;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.header__logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 10rem;
}

.header__heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70rem;
}

.heading-main {
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  backface-visibility: hidden;
}

.heading-main--primary {
  display: block;
  font-size: 6rem;
  animation: moveInFromLeft 1s ease-out;
}

.heading-main--sub {
  display: block;
  font-size: 4rem;
  letter-spacing: 1.5rem;
  animation: moveInFromRight 1s ease-out;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 6rem;
  transition: all 0.3s;
  position: relative;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s;
}

.btn--light::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.2) scaleY(1.4);
  opacity: 0;
}

.btn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 3rem 1.5rem rgba(0, 0, 0, 0.3);
}

.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

.btn--light {
  margin-top: 3rem;
  background-color: #fff;
  color: rgb(81, 75, 75);
  font-size: 1.6rem;
}

.btn--animation {
  animation: moveInFromBottom 0.3s ease-out 0.8s;
  animation-fill-mode: backwards;
}

@keyframes moveInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem);
  }

  90% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  90% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
  }
}
