.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 6rem;
    transition: all 0.3s;
    position: relative;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
  }

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 3rem 1.5rem rgba(0, 0, 0, 0.3);

    &::after {
      transform: scaleX(1.2) scaleY(1.4);
      opacity: 0;
    }
  }

  &:active,
  &:focus {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  }

  &--light {
    margin-top: 3rem;
    background-color: $color-white;
    color: $color-primary-darker;
    font-size: 1.6rem;

    &::after {
      background-color: $color-white;
    }
  }

  &--animation {
    animation: moveInFromBottom 0.3s ease-out 0.8s;
    animation-fill-mode: backwards;
  }
}
