

.email-box__form {
    text-align: center;

    ul {
        list-style-type: none;
    }
}



.email-input {
    padding: .8rem;
    margin: 1rem;
    border: 0;
    border-bottom: 1px solid $color-primary-lighter;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius:10px;

    
}



