.heading-main {
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
  backface-visibility: hidden;

  &-main--primary {
    display: block;
    font-size: 4rem;
    animation: moveInFromLeft 1s ease-out;
  }

  &-main--sub {
    display: block;
    font-size: 3rem;
    letter-spacing: 1.5rem;
    animation: moveInFromRight 1s ease-out;
  }
}
body {
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.6;
}
