.about-section {
  background-color: $color-gray-light1;
  padding: 15rem 0;
  margin-top: -10vh;
}

.baking-classes-section {

  padding: 10rem 0;
  background-image: linear-gradient(to right,
      rgba($color-primary-lighter, 0.76),
      rgba($color-primary-darker, 0.196)),
    url("../img/cupcake.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.email-section {
  background-color: $color-gray-light1;
}

.pricing-section {
  background-color: $color-gray-light1;
  padding: 15rem 0 50rem 0;
}